html
{
	height: 100%;
}

body
{
	font-style: normal;
	font-family: Helvetica, Verdana, sans-serif;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
/****************************** NAV ***************************/

nav
{
	width: 100%;
	position: fixed;
	background-color:rgb(255, 255, 255);
	opacity: 0.98;
	padding-top: 0px;
	flex: 0 0 auto;
}

.menu_logo_img
{
	height: 80px;
	width: 80px;
}

.menu_item a
{
	text-decoration: none;
	font-size: 18px;
	font-weight: normal;
	color: rgb(36, 36, 36);
}

.nav_menu li
{
	white-space: nowrap;
}

/* Mobile nav_menu */

.nav_menu
{
	max-width: 1100px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

.menu_toggle
{
	order: 1;
	cursor:pointer;
	width: 80px;
	display:flex;
	justify-content:center;
	align-items: center;
}

.menu_item
{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	order: 2;
	display: none;
	text-align: center;
	border-style:inset;
	border-left: none;
	border-right: none;
	border-width: 1px;
}

.menu_logo
{
	flex: 1;
	order:0;
	height: 80px;
}

.menu_item.active
{
	display: block;
}

/* Navbar Toggle */

.toggle_bars
{
	background: rgb(36, 36, 36);
	display: inline-block;
	height: 4px;
	position: relative;
	width: 28px;
}

.toggle_bars:before,
.toggle_bars:after
{
	background-color: rgb(240, 216, 78);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}

.toggle_bars:before
{
	top: 8px;
}

.toggle_bars:after
{
	top: -8px;
}

/* Desktop nav_menu */
@media all and (min-width: 768px)
{


	.menu_toggle
	{
		display: none;
	}

	.menu_item
	{
		background-color: rgb(255, 255, 255);
		border-style:none;
		display:flex;
		justify-content:center;
		align-items: center;
		width: fit-content;
	}

	.nav_menu li
	{
		margin-right: 25px;
		margin-left: 0px;
		text-decoration: none;

	}
}
/****************************** MAIN ***************************/


main
{
	padding-top: 80px;
	padding-bottom: 80px;
	flex: 1 0 auto;
}

.main_contact
{
	margin-top: 60px;
	max-width: 1100px;

	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	background-color: rgb(216, 213, 12);

}

.contact_dates
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	background-color: lightseagreen;

}


/****************************************************************************************/


.contact_form
{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	background-color: rgb(240, 216, 78);
	padding-left: 20px;
}

input
{
	background-color: #fbfbfb;
	width: 728px;
	height: 24px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(36, 36, 36, 0.26);
	margin-top: 2px;
	margin-bottom: 2px;
}

textarea
{
	background-color: #fbfbfb;
	width: 40px;
	height: 50px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: rgba(36, 36, 36, 0.26);
	margin-bottom: 2px;
}

label
{
	display: block;
	float: center;
}

button{
	height: 45px;
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
	text-transform: uppercase;
	background-color:rgb(36, 36, 36);
	border-color: #131313;
	border-style: solid;
	border-radius: 10px;
	width: 420px;
	cursor: pointer;
}

button p
{
	color: rgb(255, 255, 255);
}

span
{
	color: #cc2b2b;
}

.aviso
{
	font-size: 13px;
	color: rgb(36, 36, 36);
}

h1
{
	text-align: letf;
	color: rgb(36, 36, 36);
}

h3
{
	font-size: 12px;
	color:rgb(36, 36, 36);
}

p
{
	font-size: 14px;
	color: rgb(36, 36, 36);
}

::-webkit-input-placeholder {
	color: #a8a8a8;
}

::-webkit-textarea-placeholder {
	color: #a8a8a8;
}

.formulario input:focus{
	outline:0;
	border: 1px solid #f8cb01;
}

.formulario textarea:focus{
	outline:0;
	border: 1px solid #f8cb01;
}

/****************************************************************************************/






/* Desktop nav_menu */
@media all and (min-width: 768px)
{


}


/****************************** FOOTER ***************************/

footer
{
	padding-bottom: 0px;
	flex: 0 0 auto;

}
.container_footer
{
	background-color: rgb(227, 228, 231);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-inline-size:2000px ;
	margin-left: auto;
	margin-right: auto;

}

.footer_box
{
	width: 100%;
	list-style-type: none;
	text-align: center;
	color: rgb(61, 60, 60);
}

.box_list
{
	list-style-type: none;
	padding-left: 0px;
}

.box_list a
{
	text-decoration: none;
	color: rgb(65, 65, 65);
	margin-bottom: auto;
}

.box_list li
{
	margin-top: 12px;
}

/* Desktop nav_menu */
@media all and (min-width: 768px)
{
	.footer_box
	{
		width: 33%;
		list-style-type: none;
	}

}
