html
{
	height: 100%;
}

body
{
	font-style: normal;
	font-family: Helvetica, Verdana, sans-serif;
	margin-top: 0px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
}
/****************************** NAV ***************************/

nav
{
	width: 100%;
	position: fixed;
	background-color:rgb(255, 255, 255);
	opacity: 0.98;
	padding-top: 0px;
	flex: 0 0 auto;
	border-bottom: solid;
	border-width: 1px;
	border-color: rgba(0, 0, 0, 0.103);
}

.menu_logo_img
{
	height: 80px;
	width: 80px;
}

.menu_item a
{
	text-decoration: none;
	font-size: 18px;
	font-weight: normal;
	color: rgb(36, 36, 36);
}

.nav_menu li
{
	white-space: nowrap;
}

/* Mobile nav_menu */

.nav_menu
{
	max-width: 1100px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

.menu_toggle
{
	order: 1;
	cursor:pointer;
	width: 80px;
	display:flex;
	justify-content:center;
	align-items: center;
}

.menu_item
{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	order: 2;
	display: none;
	text-align: center;
	border-style:inset;
	border-left: none;
	border-right: none;
	border-width: 1px;
}

.menu_logo
{
	flex: 1;
	order:0;
	height: 80px;
}

.menu_item.active
{
	display: block;
}

/* Navbar Toggle */

.toggle_bars
{
	background: rgb(36, 36, 36);
	display: inline-block;
	height: 4px;
	position: relative;
	width: 28px;
}

.toggle_bars:before,
.toggle_bars:after
{
	background-color: rgb(240, 216, 78);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}

.toggle_bars:before
{
	top: 8px;
}

.toggle_bars:after
{
	top: -8px;
}

/* Desktop nav_menu */
@media all and (min-width: 768px)
{


	.menu_toggle
	{
		display: none;
	}

	.menu_item
	{
		background-color: rgb(255, 255, 255);
		border-style:none;
		display:flex;
		justify-content:center;
		align-items: center;
		width: fit-content;
	}

	.nav_menu li
	{
		margin-right: 25px;
		margin-left: 0px;
		text-decoration: none;

	}
}
/****************************** MAIN ***************************/



main
{
	padding-top: 80px;
	flex: 1 0 auto;
}

/*Presentation*/

.container_presentation
{
	margin-right: auto;
	margin-left: auto;
}

.presentation_img
{
	width: 100%;
}

.presentation_text
{
	max-width: 1100px;
	
	margin-right: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-bottom: 20px;

	background-color: rgb(255, 255, 255);
	border-bottom: solid;
	border-radius: 0.1ch;
	border-color: rgba(197, 197, 197, 0.658);
	
}

.presentation_text h1
{
	text-align: center;
	color: rgb(36, 36, 36);
}
.presentation_text p
{
	text-align: left;
	color: rgb(72, 72, 72);
	line-height : 25px;
	font-size: 18px;

	margin-left: 20px;
	margin-right: 20px;
	
}

/*Services*/

.container_services
{
	width: 100%;
	background-color: rgb(255, 225, 55);
	margin-top: 100px;
}

.container_services h2
{
	text-align: center;
	padding-top: 20px;
	margin-bottom: 0;

}
.description_services
{
	
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-color: rgba(211, 210, 210, 0.486);
	background-color: rgb(255, 225, 55);

}

.services_text
{
	max-width: 768px;
	margin-left: 20px;
	margin-right: 20px;

	color: rgb(36, 36, 36);
	line-height : 25px;
	font-size: 18px;
}

.services_list li
{
	margin-bottom: 5px;
}



.services_button
{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.button_service
{
	border: none;
	border-radius: 25px;	
	color: rgb(255, 255, 255);
	line-height : 25px;
	font-size: 18px;
	font-weight: bold;
	padding: 15px;
	
	
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	background-color: rgb(24, 23, 23);
	outline:none;
}



/* Desktop nav_menu */

@media all and (min-width: 768px)
{
	.services_text
	{
		margin-left: auto;
		margin-right: auto;
		
	}
	
}


/****************************** FOOTER ***************************/

footer
{
	padding-bottom: 0px;
	flex: 0 0 auto;

}
.container_footer
{
	background-color: rgb(227, 228, 231);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-inline-size:2000px ;
	margin-left: auto;
	margin-right: auto;

}

.footer_box
{
	width: 100%;
	list-style-type: none;
	text-align: center;
	color: rgb(61, 60, 60);
}

.box_list
{
	list-style-type: none;
	padding-left: 0px;
}

.box_list a
{
	text-decoration: none;
	color: rgb(65, 65, 65);
	margin-bottom: auto;
}

.box_list li
{
	margin-top: 12px;
}

/* Desktop nav_menu */
@media all and (min-width: 768px)
{
	.footer_box
	{
		width: 33%;
		list-style-type: none;
	}

}
