
body
{
	font-family: 'Roboto';
	font-style: normal;
	background-color: rgb(255, 255, 255);
	padding: 0;
	margin: 0;
}

.nav_p
{
	
	/*min-inline-size: 450px;*/

	width: 100%;
	position: fixed;
	background-color: rgb(255, 255, 255);
	opacity: 0.98;
}

.img_logo
{
	height: 80px;
	width:80px;
}

.item a
{
	color: rgb(0, 0, 0);
	text-decoration: none;
	
}

/**************************************************************************/

.menu li
{
	font-size: 16px;
	white-space: nowrap;
	
}

/* Mobile menu */

.menu
{
	max-width: 1100px;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
}

.toggle
{
	order: 1;
	cursor:pointer;
	width: 80px;
	display:flex;
	justify-content:center;
	align-items: center;
}

.item
{
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	order: 2;
	display: none;
	text-align: center;
	border-style:inset;
	border-left: none;
	border-right: none;
	border-width: 1px;
}

.logo
{
	flex: 1;
	order:0;
	height: 80px;
}

.item.active
{
	display: block;
}

/* Navbar Toggle */

.bars
{
	background: rgb(110, 99, 99);
	display: inline-block;
	height: 4px;
	position: relative;
	width: 28px;

}

.bars:before,
.bars:after
{
	background-color: rgb(252, 217, 29);
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}

.bars:before
{
	top: 8px;
}

.bars:after
{
	top: -8px;
}


/* Desktop menu */
@media all and (min-width: 768px)
{


	.toggle
	{
		display: none;
	}
	
	.item
	{
		border-style:none;
		display:flex;
		justify-content:center;
		align-items: center;
		width: fit-content;
	}
	
	.menu li
	{
		margin-right: 25px;
		margin-left: 0px;
		text-decoration: none;

	}
}
/**************************************************************************/

/*Part 1 */

main
{
	padding-top: 80px;
}
.img_security
{
	width: 100%;
}

.text_presentation
{
	max-inline-size:1100px ;
	/*min-inline-size: 450px;*/

	margin-inline-end: auto;
	margin-inline-start: auto;
	color:rgb(95, 95, 95);
	font-weight: 300;
	padding: 15px;
}

.text_presentation h1
{
	text-align: center;
	font-weight: 300;

}
.text_presentation p
{
	text-align: left;
}
/*Part 2 */
.text_services
{
	max-inline-size:1100px ;
	margin-left: auto;
	margin-right: auto;
	color:rgb(95, 95, 95);
	font-weight: 300;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-top: 60px;
	padding-bottom: 60px;
	padding: 15px;
}

.t_services_img
{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

.img_car
{
	height: auto;
	width: 100%;
}

.t_services_text
{
	max-inline-size:500px;
	margin-left: auto;
	margin-right: auto;
}

.line_text
{
	
	max-width:1100px ;
	height: auto;
	background-color: rgb(252, 217, 29);
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 40px;
	text-align: center;
	font-size: 30px;
	font-weight: 300;
}

.services
{
	max-width:1100px ;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: auto;
	margin-right: auto;
}

.services_t
{
	max-width: 340px;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20px;
}

.img_s
{
	height: 100%;
	width: 100%;
}



/**************************************************************************/

.container_footer
{
	background-color: rgb(242, 243, 248);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

}

.box_footer
{
	width: 100%;
	list-style-type: none;
	text-align: center;
	color: rgb(61, 60, 60);
	font-size: 22px;

}

.ul_list
{
	list-style-type: none;
	padding-left: 0px;

}

.ul_list a
{
	text-decoration: none;
	color: rgb(65, 65, 65);
	margin-bottom: auto;
}

.ul_list li
{
	font-size: 14px;
	margin-top: 12px;
}
/* Desktop menu */
@media all and (min-width: 768px)
{
	.box_footer
	{
		width: 33%;
		list-style-type: none;
	}
}
